body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: laBelle;
  src: url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=La+Belle+Aurore&family=Montserrat+Subrayada:wght@400;700&display=swap');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scroll-parent {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 50%;
  animation: primary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
.hero-banner {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: -1;
}

.hero-banner__title {
  color: #fff;
  font-size: 200px;
  font-weight: 900;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.hero-banner__stroked-title {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

.hero-banner__image {
  border-radius: 20px;
  position: fixed;
  transform: rotate(-15deg);
  width: 450px;
}
.quote{
  font-family: 'la belle aurore';
  color: white;
  display: block;
  position: absolute;
  width: 100lh;
  height: 50vh;
  left: 50%;
  transform: translate(-50%, -100%);
}

